# Orbit-core Server Configuration
SERVER_PORT=8080
SERVER_HOST=0.0.0.0
GRPC_SERVER_PORT=50052

# PostgreSQL Configuration
DB_HOST=POSTGRES_HOST
DB_PORT=5432
DB_USER=Orbit
DB_PASSWORD=Orbit
DB_NAME=orbit
DB_SSLMODE=disable

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis
REDIS_DB=0

# Authentication Configuration
JWT_SECRET=DRUMS_OF_DEATH
JWT_EXPIRATION_HOURS=24

# Orbi Configuration
ORBI_HOST=localhost
ORBI_PORT=50042

